<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs', {title : 'About'}) %>
<div class="container">
    <pre wrap="soft">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue fringilla dictum. Mauris eros neque, convallis quis nibh at, pretium condimentum massa. Nam auctor, mi ut volutpat sollicitudin, lectus nibh lacinia nibh, a tincidunt magna nibh nec massa. Proin molestie erat vitae nibh cursus fringilla. Fusce bibendum leo et ex varius porta. Cras accumsan ligula in mollis scelerisque. Vivamus maximus faucibus nibh, non congue orci tempor cursus. Sed pulvinar, lacus eget vulputate condimentum, sem turpis lobortis sapien, a maximus urna diam posuere quam. Sed viverra faucibus justo ac laoreet. Vivamus molestie volutpat ipsum.

Integer facilisis, tellus eu lacinia faucibus, enim nisl congue leo, at mollis diam erat sit amet mi. Phasellus tempus tortor leo, ut consequat erat accumsan ut. Nullam tempor, turpis at vehicula blandit, nunc felis consectetur mauris, ac elementum urna nunc ac erat. Nam eget sodales turpis, quis pulvinar justo. Pellentesque tempus placerat massa, sit amet dapibus leo vehicula et. Aenean consectetur posuere pellentesque. Sed vel eros hendrerit, pellentesque arcu sed, laoreet elit. Sed ut pulvinar magna.
    </pre>
</div>
<%- include('../partials/tail.ejs') %>