<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs', {title : 'Admin'}) %>
<form class="form-group container" autocomplete="off" method="POST" action="/admin/new">
    <input class="form-control-lg form-control my-3 text-center border-dark font-weight-bold" required
        placeholder="Title" type="text" name="title">
    <input class="form-control my-3 text-center border-dark" placeholder="Snippet" type="text" name="snippet">
    <textarea class="my-3 p-2 text-justify w-100 rounded border-dark area" required wrap="soft" type="text"
        name="content"></textarea>
    <button class="btn btn-success mx-auto d-block mx-auto" type="submit">publish</button>
</form>
<%- include('../partials/tail.ejs') %>