<header class="jumbotron-fluid mb-3 mb-sm-5 text-center py-3 text-white shadow hea">
    <h1 class="font-weight-bold jumtex"><%= title %></h1>
    <nav class="nav justify-content-center font-weight-bold">
        <li><a class="nav-link text-white lead" href="/blogs">home</a></li>
        <li><a class="nav-link text-white lead" href="/blogs/about">about</a></li>
    </nav>
</header>